.register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  height: 800px;
  background-color: rgb(240, 240, 240);
  margin: 30px 0 5px 0;
  border-radius: 5px;

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 450px;
    margin: 20px 0 0 50px;

    &:nth-child(1) {
      margin: 20px 0 0 50px;
    }
  }

  input[type=submit] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 65px;
    border: 0;
    padding: 0;
    margin-top: 35px;
    background-color: #3abfae;
    color: white;
    font-size: 20px;
    border-radius: 5px;

    &:hover {
      background-color: #389d8c;
      cursor: pointer;
    }
  }

  form {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }

}

.profileLogo {
  width: 150px;
}

.inputLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  background-color: #3abfae;
  font-size: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  i {
    color: white;
  }
}

.checkForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 25px;
}

.input {
  width: 280px;
  height: 65px;
  font-size: 25px;
  padding: 0 0 0 20px;
  background-color: #ffffff;
  border: 0;
  outline: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  &::placeholder {
    color: #a8a8a8;
  }
}

.hint {
  font-size: 16px;
  color: red;
  margin-top: 10px;
}
