.calories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(240, 240, 240);
  width: 1000px;
  height: 900px;
  margin-top: 30px;
  border-radius: 5px;
}
