<div #activityList class='activityList'>
  <form [formGroup]='activitySearch' (keyup)='filterData(activitySearch.value.searchInput)'>
    <label class='search'>
      <input #searchField type='text' formControlName='searchInput'>
      <i class="fas fa-search" (click)='pickActivity(activitySearch.value.searchInput)'></i>
    </label>
  </form>
  <ul #autoComplete class='autoComplete' [hidden]='!autoCompleteVisibility'>
    <li *ngFor='let value of filteredData' [attr.activity-name]="value.name" class="auto-complete-list">
      <span class='searchOption'>{{value.name}}</span>
    </li>
  </ul>
  <div class='tableHeader'>
    <span>Name</span>
    <span>kCal/kg per hour</span>
  </div>
  <ul class='table'>
    <li *ngFor='let value of visibleList'>
      <a [routerLink]='[value.name]'>
        <span>{{value.name}}</span>
        <span>{{value.calories}}</span>
      </a>
    </li>
  </ul>
  <ul class='pages'>
    <li *ngFor='let value of pages; index as i' (click)='changePage(i + 1)'>
      {{i + 1}}
    </li>
  </ul>
</div>
