.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 350px;
  margin-top: 10px;

  img {
    width: 700px;
  }
}

.navigation {
  display: flex;
  align-items: center;
  width: 1000px;
  height: 70px;
  background-color: #3c3c3c;
  margin-top: 20px;
  border-radius: 5px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 0 20px 0 20px;

    &:hover {
      background-color: #696969;

      &:nth-child(1) {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    &:visited {
      text-decoration: none;
    }
    &:nth-last-child(1) {
      color: #ff453a;
    }
    &:nth-last-child(2) {
      margin-left: auto;
      color: #ff453a;
    }
  }
}
