.page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(240, 240, 240);
  width: 1000px;
  height: 800px;
  margin-top: 30px;
  border-radius: 5px;
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 450px;

  input[type=submit] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: #3c3c3c;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 50px;
    outline: none;

    &:hover {
      background-color: #696969;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  font-size: 25px;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;

  & > button {
    width: 200px;
    height: 60px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #3c3c3c;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: #696969;
    }
  }
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.fieldName {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  width: 400px;
  height: 30px;
  font-weight: bold;
}

.inputField {
  display: flex;
  width: 400px;
  height: 50px;
  border-radius: 5px;
  padding-left: 20px;
  font-size: 20px;
  text-decoration: none;
  outline: none;
  border: 1px solid #3c3c3c;
}

.radioField {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  border: 1px solid #3c3c3c;
  border-radius: 5px;
  font-size: 20px;
  background-color: white;

  input[type=radio] {
    border: 0;
    padding: 0;
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }
}

.selectField {
  width: 420px;
  height: 55px;
  padding-left: 20px;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
  border: 1px solid #3c3c3c;
}
