<div class='profile'>
  <div class='info'>
    <img src='../../../assets/male.jpg' alt=''/>
    <ul>
      <li><span class='charName'>AGE:</span><span class='charValue'>24</span></li>
      <li><span class='charName'>HEIGHT:</span><span class='charValue'>181</span></li>
      <li><span class='charName'>WEIGHT:</span><span class='charValue'>83</span></li>
      <li><span class='charName'>BMR:</span><span class='charValue'>1850</span></li>
      <li><span class='charName'>TOTAL CALORIES:</span><span class='charValue'>2200</span></li>
    </ul>
  </div>
  <div class='activities'>

  </div>
</div>
