<div class='home'>
  <span class='name'>From Fat To Fit</span>
  <span>Basal Metabolism Rate and Daily Activities Calculator</span>
  <ul class='guide'>
    <li>Create your own profile with email or social media.</li>
    <li>Move to BMR calculator to get your BMR with formula.</li>
    <li>Then move to activities and add what you do every day.</li>
    <li>After that you can check your info and total calories in profile.</li>
    <li>You can delete current activities, which you dont do anymore.</li>
  </ul>
</div>
